[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
torch = "==1.1.0"
bottle = "*"
zenhan = "*"
pyknp = "*"

[requires]
python_version = "3.6"
